Django==5.1.4
django-ckeditor==6.7.2
itsdangerous==2.2.0
MarkupSafe==3.0.2
mysqlclient==2.2.6
packaging==24.2
pillow==11.0.0
pipenv==2024.4.0
requests==2.32.3
setuptools==75.6.0
virtualenv==20.28.0
sqlparse==0.5.1

